.background-modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 600px;
    background-color: rgb(215, 8, 8);
}

.close-modal{
    text-align: left;
    padding: 15px;
    background-color: rgb(185, 60, 60);
    color: white;
    cursor: pointer;
    border: none;
}

.header-modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    background-color: rgb(185, 60, 60);
}

.modal-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-modal{
    padding: 0 15px;
}

.title-modal,
.text-modal{
    color: white;
    text-align: center;
    font-size: 20px;
}